<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template Website</title>
    <link rel="stylesheet" href="fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <!-- home-header -->
    <header>
      <div class="layer">
        <nav class="container">
          <div class="home-header">
            <div class="logo">
              <img src="img/logo-alt.webp" alt="logo" draggable="false" />
            </div>

            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Prices</a></li>
              <li><a href="#">Team</a></li>
              <li>
                <a href="#">Blog</a><i class="fa-solid fa-angle-down"></i>
                <ul>
                  <li>Blog1</li>
                  <li>Blog2</li>
                </ul>
              </li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </nav>
        <div class="content">
          <h1>we are creative agancy</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis
            esse officiis magni laudantium provident possimus!
          </p>
          <div class="content-btn">
            <button type="submit" class="bg-white">Get Started!</button>
            <button type="submit" class="bg-blue">learn more</button>
          </div>
        </div>
      </div>
    </header>
    <!-- End home-header -->

    <!-- About -->
    <section class="about-section">
      <div class="header">
        <h2>welcome to website</h2>
        <span class="line"></span>
      </div>

      <div class="about-content container">
        <div class="about-item">
          <i class="fa-solid fa-gears"></i>
          <h3>Fully Customizible</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores,
            magnam expedita dignissimos harum ipsum quas consequatur quaerat
            quasi.
          </p>
          <a href="#">Read more</a>
        </div>

        <div class="about-item">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
          <h3>Fully Customizible</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores,
            magnam expedita dignissimos harum ipsum quas consequatur quaerat
            quasi.
          </p>
          <a href="#">Read more</a>
        </div>

        <div class="about-item">
          <i class="fa-solid fa-mobile-screen-button"></i>
          <h3>Fully Customizible</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores,
            magnam expedita dignissimos harum ipsum quas consequatur quaerat
            quasi.
          </p>
          <a href="#">Read more</a>
        </div>
      </div>
    </section>
    <!-- End About -->

    <!-- Portofolio -->
    <section class="portofolio-section container">
      <div class="header">
        <h3>Featured works</h3>
        <span class="line"></span>
      </div>
      <div class="portofolio-content">
        <div class="portofolio-sec1 size">
          <div class="img-class">
            <img src="img/work/work1.webp" alt="" />
            <div class="layer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="img-class">
            <img src="img/work/work2.webp" alt="" />
            <div class="layer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star-half-stroke"></i>
            </div>
          </div>
        </div>

        <div class="portofolio-sec2 size">
          <div class="img-class">
            <img src="img/work/work3.webp" alt="" />
            <div class="layer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star-half-stroke"></i>
            </div>
          </div>
          <div class="img-class">
            <img src="img/work/work4.webp" alt="" />
            <div class="layer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star-half-stroke"></i>
            </div>
          </div>
        </div>

        <div class="portofolio-sec3 size">
          <div class="img-class">
            <img src="img/work/work5.webp" alt="" />
            <div class="layer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star-half-stroke"></i>
            </div>
          </div>
          <div class="img-class">
            <img src="img/work/work6.webp" alt="" />
            <div class="layer">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-regular fa-star-half-stroke"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portofolio -->
  </body>
</html>
